//connector.tmpl

// The master template for the connector classes

var privateName = util.LcFirst(t.GoName)


{{
package connector

// This is the connector override. Feel free to edit.

type {{= t.GoName }} struct {
    {{= privateName }}Base
}

}}

