// import.tmpl
{{
import (
    "context"
    "github.com/spekary/goradd/page"
	"goradd/gen/{{dd.DbKey}}/model"
{{for _,imp := range t.Imports}}
{{if imp.Alias == ""}}
    "{{= imp.Path }}"
{{else}}
    {{= imp.Alias }} "{{= imp.Path }}"
{{if}}
{{for}}

)
}}


