{{

// Load will associate the controls with data from the given model.{{= t.GoName}} object and load the controls with data.
// Generally call this after creating the controls. Otherwise, call Refresh if you Load before creating the controls.
// If you pass a new object, it will prepare the controls for creating a new record in the database.
func (c *{{t.GoName}}) Load(ctx context.Context, modelObj *model.{{= t.GoName}}) {
    if modelObj == nil {
        modelObj = model.New{{= t.GoName}}(ctx)
    }
    c.{{= t.GoName}} = modelObj
    if modelObj.PrimaryKey() == "" {
        c.EditMode = false
    } else {
        c.EditMode = true
    }
    c.Refresh()
}

}}


