{{

// Refresh loads the controls with the cached model.{{= t.GoName}} object.
func (c *{{= privateName }}Base) Refresh() {
    if c.{{= t.GoName}} == nil {
        panic("you must Load the connector before calling Refresh")
    }
{{for _,col := range t.Columns }}

{{g
    var sLoad string
    if col.Generator != nil {
        sLoad = col.Generator.GenerateGet(col.ControlName, t.GoName, col.ColumnDescription)
    }
}}
{{if sLoad != ""}}
    if c.{{col.ControlName}} != nil {
        {{= sLoad }}
    }
{{if}}
{{for}}
}
}}


