// count.tmpl

for _,col := range t.Columns {
{{

// Count{{t.GoName}}By{{col.GoName}} queries the database and returns the number of {{t.GoName}} objects that
// have the given {{= col.ModelName() }} value.
func Count{{t.GoName}}By{{col.GoName}}(ctx context.Context, {{= col.ModelName() }} {{= col.ColumnType.GoType() }}) int {
{{if col.ForeignKey != nil}}
    if {{= col.ModelName()}} == {{= col.ColumnType.DefaultValue() }} {
        return 0
    }
{{if}}
	return int(query{{t.GoPlural}}(ctx).Where(Equal(node.{{t.GoName}}().{{col.GoName}}(), {{= col.ModelName()}})).Count(false))
}

}}
}



