for _,col := range t.Columns {
{{

func Count{{t.GoName}}By{{col.GoName}}(ctx context.Context, {{col.ModelName}} {{col.GoType}}) uint {
	return Query{{t.GoPlural}}().Where(Equal(node.{{t.GoName}}().{{col.GoName}}(), {{col.ModelName}})).Count(ctx, false)
}

}}
}