{{

// Delete deletes the associated record from the database.
func (o *{{privateName}}Base) Delete(ctx context.Context) {
	if !o._restored {
		panic ("Cannot delete a record that has no primary key value.")
	}
	d := db.GetDatabase("{{t.DbKey}}")
	d.Delete(ctx, "{{t.DbName}}", "{{= t.PrimaryKeyColumn.DbName }}", o.{{= t.PrimaryKeyColumn.ModelName }})
	watcher.BroadcastDelete(ctx, "{{t.DbKey}}", "{{t.DbName}}", o.{{= t.PrimaryKeyColumn.ModelName }})
}

// delete{{= t.GoName }} deletes the associated record from the database.
func delete{{= t.GoName }}(ctx context.Context, pk string) {
	d := db.GetDatabase("{{t.DbKey}}")
	d.Delete(ctx, "{{t.DbName}}", "{{= t.PrimaryKeyColumn.DbName }}", pk)
	watcher.BroadcastDelete(ctx, "{{t.DbKey}}", "{{t.DbName}}", pk)
}

}}