//dirty.tmpl
{{
func (o *{{privateName}}Base) resetDirtyStatus() {
{{for _,col := range t.Columns }}
	o.{{= col.ModelName() }}IsDirty = false
{{for}}
{{for _,ref := range t.ReverseReferences }}
	o.{{= oRef(ref) }}IsDirty = false
{{for}}

}

func (o *{{privateName}}Base) IsDirty() bool {
    return {{join t.Columns, "|| \n"}}o.{{= _j.ModelName() }}IsDirty {{if _j.ReferenceFunction() != "" && !_j.IsType() }} ||
	    (o.{{= oRef(_j) }} != nil && o.{{= oRef(_j) }}.IsDirty()) {{if}}{{join}}{{if len(t.ReverseReferences) > 0}} || {{if}}
	    {{join t.ReverseReferences, "|| \n"}}o.{{= oRef(_j) }}IsDirty{{join}}

}

}}
