//dirty.tmpl
{{
func (o *{{privateName}}Base) resetDirtyStatus() {
{{for _,col := range t.Columns }}
	o.{{= col.ModelName() }}IsDirty = false
{{for}}
{{for _,ref := range t.ReverseReferences }}
	o.{{=  ref.Values["objName"] }}IsDirty = false
{{for}}

}

func (o *{{privateName}}Base) IsDirty() bool {
    return {{join t.Columns, "|| \n"}}o.{{= _j.ModelName() }}IsDirty {{if _j.ReferenceName() != "" }} ||
	    (o.{{= _j.ReferenceName() }} != nil && o.{{= _j.ReferenceName() }}.IsDirty()) {{if}}{{join}}{{if len(t.ReverseReferences) > 0}} || {{if}}
	    {{join t.ReverseReferences, "|| \n"}}o.{{= _j.Values["objName"]}}IsDirty{{join}}

}

}}
