// struct.tmpl
{{
// {{privateName}}Base is a base structure to be embedded in a "subclass" and provides the ORM access to the database.

type {{privateName}}Base struct {
}}

for _,col := range t.Columns {

{{
{{if col.IsId}}
	{{= col.ModelName() }} string
{{else}}
	{{= col.ModelName() }} {{= col.ColumnType.GoType() }}
{{if}}
{{if col.IsNullable}}
	{{= col.ModelName() }}IsNull bool
{{if}}
	{{= col.ModelName() }}IsValid bool
	{{= col.ModelName() }}IsDirty bool
{{if col.IsReference() }}
	{{= oRef(col) }} *{{= col.ForeignKey.GoType }}
{{if}}

}}

} // for

if len(t.ReverseReferences) > 0 {
{{

// Reverse reference objects.
}}
} // if


for _,ref := range t.ReverseReferences {
	oName := oRef(ref)

	if ref.IsUnique() {
{{
	{{= oName }} *{{= ref.GoType }}
	{{= oName }}IsDirty bool
}}
	} else {
	    mName := mapPrefix + ref.GoPlural
{{
	{{= oName }} []*{{= ref.GoType }} // Objects in the order they were queried
	{{= mName }} map[{{= ref.AssociatedPkType() }}] *{{= ref.GoType }}					  // Objects by PK
	{{= oName }}IsDirty bool
}}
	}
}

if len(t.ManyManyReferences) > 0 {
{{

// Many-Many reference objects.
}}
} // if


for _,ref := range t.ManyManyReferences {
{{
	{{= objectPrefix }}{{ref.GoPlural}} []{{if !ref.IsTypeAssociation }}*{{if}}{{ref.AssociatedObjectType}}
{{if !ref.IsTypeAssociation }}
	m{{= ref.GoPlural }} map[{{= ref.AssociatedTablePkType }}] *{{ref.AssociatedObjectType}}					  // Objects by PK
{{if}}
    {{= objectPrefix }}{{ref.GoPlural}}IsDirty bool

}}
} // for

{{

	// Custom aliases, if specified
	_aliases map[string]interface{}

	// Indicates whether this is a new object, or one loaded from the database. Used by Save to know whether to Insert or Update
	_restored bool

	// The original primary key for updates
	_originalPK {{= t.PrimaryKeyColumn().ColumnType.GoType() }}
}}

{{ }

}}


