// struct.tmpl
{{

// {{privateName}}Base is embedded in a {{= t.GoName }} object and provides the ORM access to the database.
// The member variables of the structure are private and should not normally be accessed by the {{= t.GoName }} embedder.
// Instead, use the accessor functions.
type {{privateName}}Base struct {
}}

for _,col := range t.Columns {

{{
{{if col.IsId}}
	{{= col.ModelName() }} string
{{else}}
	{{= col.ModelName() }} {{= col.ColumnType.GoType() }}
{{if}}
{{if col.IsNullable}}
	{{= col.ModelName() }}IsNull bool
{{if}}
	{{= col.ModelName() }}IsValid bool
	{{= col.ModelName() }}IsDirty bool
{{if col.IsReference() }}
	{{= oRef(col) }} *{{= col.ForeignKey.GoType }}
{{if}}

}}

} // for

if len(t.ReverseReferences) > 0 {
{{

// Reverse reference objects.

}}
} // if


for _,ref := range t.ReverseReferences {
	oName := oRef(ref)

	if ref.IsUnique() {
{{
	{{= oName }} *{{= ref.GoType }}
	{{= oName}}PK *{{= ref.PrimaryKeyType() }}
	{{= oName }}IsDirty bool
}}
	} else {
	    mName := mapPrefix + ref.GoPlural
{{
	{{= oName }} []*{{= ref.GoType }}                                   // Objects in the order they were queried
	{{= mName }} map[{{= ref.PrimaryKeyType() }}] *{{= ref.GoType }}	// Objects by PK
    s{{= ref.GoPlural}}PKs []{{= ref.PrimaryKeyType() }}            // Primary keys to associate at Save time
	{{= oName }}IsDirty bool
}}
	}
}

if len(t.ManyManyReferences) > 0 {
{{

// Many-Many reference objects.
}}
} // if


for _,ref := range t.ManyManyReferences {
{{
	{{= objectPrefix }}{{ref.GoPlural}} []{{if !ref.IsEnumAssociation }}*{{if}}{{ref.ObjectType()}}
{{if !ref.IsEnumAssociation }}
	m{{= ref.GoPlural }} map[{{= ref.PrimaryKeyType() }}] *{{= ref.ObjectType() }}	// Objects by PK
    s{{= ref.GoPlural }}PKs []{{= ref.PrimaryKeyType() }}                           // Primary keys to be associated at Save time
{{if}}
    {{= objectPrefix }}{{ref.GoPlural}}IsDirty bool

}}
} // for

{{

	// Custom aliases, if specified
	_aliases map[string]interface{}

	// Indicates whether this is a new object, or one loaded from the database. Used by Save to know whether to Insert or Update
	_restored bool

	// The original primary key for updates
	_originalPK {{= t.PrimaryKeyColumn().ColumnType.GoType() }}
}}

{{ }

}}


