//new.tmpl
{{

// New{{= t.GoName }} creates a new {{= t.GoName }} object and initializes it to default values.
func New{{= t.GoName }}() *{{= t.GoName }} {
	o := new({{= t.GoName }})
	o.Initialize()
	return o
}

}}