//pk.tmpl
if t.PrimaryKeyColumn() != nil {
	var typ string = t.PrimaryKeyColumn().ColumnType.GoType()
{{

// PrimaryKey returns the value of the primary key.
func (o *{{= t.GoName }}) PrimaryKey() {{typ}} {
	return o.{{= t.PrimaryKeyColumn().ModelName() }}
}

// OriginalPrimaryKey returns the value of the primary key that was originally loaded into the object.
func (o *{{= t.GoName }}) OriginalPrimaryKey() {{typ}} {
	return o._originalPK
}

}}
}