//connector.tmpl

// The template for the connector classes

for _,col := range t.Columns {
    cd := t.ControlDescription(col)
    if cd == nil {continue}
    if cd.Generator != nil {
        sRefresh := cd.Generator.GenerateRefresh(col, cd)
        sUpdate := cd.Generator.GenerateUpdate(col, cd)
        sModifies := cd.Generator.GenerateModifies(col, cd)

{{
type {{= cd.Connector }}  struct {
}

// Refresh will copy the data value to its corresponding control
func (c {{= cd.Connector }}) Refresh(i page.ControlI, data interface{}) {
{{if sRefresh != ""}}
    if ctrl, ok := i.(*{{= codegen.ObjectType(cd.Path) }}); ok {
{{if col.IsEnum() }}
        val := data.(*model.{{= t.GoName }}).{{= col.ReferenceFunction() }}().ID()
{{else}}
        val := data.(*model.{{= t.GoName }}).{{= col.GoName }}()
{{if}}
        {{= sRefresh }}
    }
{{if}}
}

// Update will copy the control's value to its corresponding data field
func (c {{= cd.Connector }}) Update(i page.ControlI, data interface{}) {
{{if sUpdate != ""}}
   if ctrl, ok := i.(*{{= codegen.ObjectType(cd.Path) }}); ok {
        {{= sUpdate }}
{{if col.IsEnum()}}
        data.(*model.{{= t.GoName }}).Set{{= col.ReferenceFunction() }}(model.{{= col.ForeignKey.GoType }}(val))
{{else}}
        data.(*model.{{= t.GoName }}).Set{{= col.GoName }}(val)
{{if}}
    }
{{if}}
}

// Modifies returns true if the control's value does not match the corresponding data value
func (c {{= cd.Connector }}) Modifies(i page.ControlI, data interface{}) (modifies bool) {
{{if sModifies != ""}}
    if ctrl, ok := i.(*{{= codegen.ObjectType(cd.Path) }}); ok {
{{if col.IsEnum() }}
        val := data.(*model.{{= t.GoName }}).{{= col.ReferenceFunction() }}().ID()
{{else}}
        val := data.(*model.{{= t.GoName }}).{{= col.GoName }}()
{{if}}
        modifies = {{= sModifies }}
    }
{{if}}
    return
}


}}

        if provider,ok := cd.Generator.(generator.ProviderGenerator); ok {
{{
func (c {{= cd.Connector }}) Load(ctx context.Context) []interface{} {
{{= provider.GenerateProvider(col, cd) }}
}

}}
        }

{{
func init() {
	gob.Register(&{{= cd.Connector }}{})
}

}}

    }


}

// Reverse References

for _,rr := range t.ReverseReferences {
    cd := t.ControlDescription(rr)
    if cd == nil {continue}
    if cd.Generator != nil {
        sRefresh := cd.Generator.GenerateRefresh(rr, cd)
        sUpdate := cd.Generator.GenerateUpdate(rr, cd)
        sModifies := cd.Generator.GenerateModifies(rr, cd)

{{
type {{= cd.Connector }}  struct {
}

// Refresh will copy the data value to its corresponding control
func (c {{= cd.Connector }}) Refresh(i page.ControlI, data interface{}) {
{{if sRefresh != ""}}
    if ctrl, ok := i.(*{{= codegen.ObjectType(cd.Path) }}); ok {
        {{if rr.IsUnique() }}
            object := data.(*model.{{= t.GoName }}).{{= rr.GoName }}()
        {{else}}
            objects := data.(*model.{{= t.GoName }}).{{= rr.GoPlural }}()
        {{if}}
        {{= sRefresh }}
    }
{{if}}
}

// Update will copy the control's value to its corresponding data field
func (c {{= cd.Connector }}) Update(i page.ControlI, data interface{}) {
{{if sUpdate != ""}}
   if ctrl, ok := i.(*{{= codegen.ObjectType(cd.Path) }}); ok {
        {{= sUpdate }}
   }
{{if}}
}

// Modifies returns true if the control's value does not match the corresponding data value
func (c {{= cd.Connector }}) Modifies(i page.ControlI, data interface{}) (modifies bool) {
{{if sModifies != ""}}
   if ctrl, ok := i.(*{{= codegen.ObjectType(cd.Path) }}); ok {
        modifies = {{= sModifies }}
   }
{{if}}
    return
}


}}

    if provider,ok := cd.Generator.(generator.ProviderGenerator); ok {
{{
func (c {{= cd.Connector }}) Load(ctx context.Context) []interface{} {
{{= provider.GenerateProvider(rr, cd) }}
}

}}
    }

{{
func init() {
	gob.Register(new({{= cd.Connector }}))
}

}}

    }


}

// Many-Many References

for _,mm := range t.ManyManyReferences {
    cd := t.ControlDescription(mm)
    if cd == nil {continue}
    if cd.Generator != nil {
        sRefresh := cd.Generator.GenerateRefresh(mm, cd)
        sUpdate := cd.Generator.GenerateUpdate(mm, cd)
        sModifies := cd.Generator.GenerateModifies(mm, cd)

{{
type {{= cd.Connector }}  struct {
}

// Refresh will copy the data value to its corresponding control
func (c {{= cd.Connector }}) Refresh(i page.ControlI, data interface{}) {
{{if sRefresh != ""}}
    if ctrl, ok := i.(*{{= codegen.ObjectType(cd.Path) }}); ok {
         objects := data.(*model.{{= t.GoName }}).{{= mm.GoPlural }}()

        {{= sRefresh }}
    }
{{if}}
}

// Update will copy the control's value to its corresponding data field
func (c {{= cd.Connector }}) Update(i page.ControlI, data interface{}) {
{{if sUpdate != ""}}
   if ctrl, ok := i.(*{{= codegen.ObjectType(cd.Path) }}); ok {
        {{= sUpdate }}
{{if mm.IsEnumAssociation}}
        data.(*model.{{= t.GoName }}).Set{{= mm.GoPlural }}(val)
{{else}}
        data.(*model.{{= t.GoName }}).Set{{= mm.GoName }}PrimaryKeys(val)
{{if}}
   }
{{if}}
}

// Modifies returns true if the control's value does not match the corresponding data value
func (c {{= cd.Connector }}) Modifies(i page.ControlI, data interface{}) (modifies bool) {
{{if sModifies != ""}}
   if ctrl, ok := i.(*{{= codegen.ObjectType(cd.Path) }}); ok {
        val := data.(*model.{{= t.GoName }}).{{= mm.GoPlural }}()
        {{= sModifies }}
   }
{{if}}
    return
}


}}

    if provider,ok := cd.Generator.(generator.ProviderGenerator); ok {
{{
func (c {{= cd.Connector }}) Load(ctx context.Context) []interface{} {
{{= provider.GenerateProvider(mm, cd) }}
}

}}
    }

{{
func init() {
	gob.Register(new({{= cd.Connector }}))
}

}}

    }


}