// editBaseControlCreators.tmpl

{{

{{g

    for _,col := range t.Columns {
        if col.IsPk {continue}
        cd := t.ControlDescription(col)
        if cd == nil || cd.Generator == nil {continue}
        cd.Package = codegen.ObjectPackage(cd.Path)
        creatorString := cd.Generator.GenerateCreator(col, cd)
        if creatorString != "" {
            creatorString = generator.WrapFormField(defaultWrapper, cd.DefaultLabel, cd.ControlID, creatorString)

{{
func (p *{{= panelName }}) {{= cd.ControlName }}Creator() {{= defaultWrapper }} {
	return {{= creatorString }}
}

func (p *{{= panelName }}) Get{{= cd.ControlName }}() *{{= cd.Package }}.{{= cd.ControlType }} {
    id := p.ID() + "-" + {{= t.GoName }}{{= cd.ControlIDConst() }}
    if !p.Page().HasControl(id) {
        return nil
    }
	if c,ok := p.Page().GetControl(id).(*{{= cd.Package }}.{{= cd.ControlType }}); ok {
	    return c
	}
	return nil
}

}}
        }
    }


    for _,ref := range t.ReverseReferences {
        cd := t.ControlDescription(ref)
        if cd == nil || cd.Generator == nil {continue}

        cd.Package = codegen.ObjectPackage(cd.Path)
        creatorString := cd.Generator.GenerateCreator(ref, cd)
        if creatorString != "" {
            creatorString = generator.WrapFormField(defaultWrapper, cd.DefaultLabel, cd.ControlID, creatorString)

{{
func (p *{{= panelName }}) {{= cd.ControlName }}Creator() {{= defaultWrapper }} {
	return {{= creatorString }}
}

func (p *{{= panelName }}) Get{{= cd.ControlName }}() *{{= cd.Package }}.{{= cd.ControlType }} {
    id := p.ID() + "-" + {{= t.GoName }}{{= cd.ControlIDConst() }}
    if !p.Page().HasControl(id) {
        return nil
    }
	if c,ok := p.Page().GetControl(id).(*{{= cd.Package }}.{{= cd.ControlType }}); ok {
	    return c
	}
	return nil
}

}}
        }
    }

    for _,ref := range t.ManyManyReferences {
        cd := t.ControlDescription(ref)
        if cd == nil || cd.Generator == nil {continue}

        cd.Package = codegen.ObjectPackage(cd.Path)
        creatorString := cd.Generator.GenerateCreator(ref, cd)
        if creatorString != "" {
            creatorString = generator.WrapFormField(defaultWrapper, cd.DefaultLabel, cd.ControlID, creatorString)

{{
func (p *{{= panelName }}) {{= cd.ControlName }}Creator() {{= defaultWrapper }} {
	return {{= creatorString }}
}

func (p *{{= panelName }}) Get{{= cd.ControlName }}() *{{= cd.Package }}.{{= cd.ControlType }} {
    id := p.ID() + "-" + {{= t.GoName }}{{= cd.ControlIDConst() }}
    if !p.Page().HasControl(id) {
        return nil
    }
	if c,ok := p.Page().GetControl(id).(*{{= cd.Package }}.{{= cd.ControlType }}); ok {
	    return c
	}
	return nil
}

}}
        }
    }

}}

}}

