// load.tmpl

{{
// Load reads a new record from the database and loads the edit controls with the information found.
// pk is the primary key of the record.
func (p *{{= panelName }}) Load(ctx context.Context, pk {{= t.PrimaryKeyGoType() }}) error {
	if pk == {{= t.PrimaryKeyColumn().DefaultValueAsConstant() }} {
		p.{{= t.GoName }} = model.New{{= t.GoName }}()
	} else {
		p.{{= t.GoName }} = model.Load{{= t.GoName }}(ctx, pk,
{{for _,col := range t.Columns}}
{{if col.IsReference() }}
            node.{{= t.GoName}}().{{= col.ReferenceFunction()}}(),
{{if}}
{{for}}
{{for _,ref := range t.ReverseReferences}}
{{if ref.IsUnique() }}
            node.{{= t.GoName}}().{{= ref.GoName}}(),
{{else}}
            node.{{= t.GoName}}().{{= ref.GoPlural}}(),
{{if}}
{{for}}
{{for _,ref := range t.ManyManyReferences}}
            node.{{= t.GoName}}().{{= ref.GoPlural}}(),
{{for}}
		)

		if p.{{= t.GoName }} == nil {
			d := dialog.Alert(p,
                p.ParentForm().GT("Error"),
                p.ParentForm().GT("The record was not found. Perhaps it was recently deleted by someone else."),
                true,
                "OK")
			d.SetTitle(p.ParentForm().GT("Error"))
			return page.NewFrameworkError(page.FrameworkErrRecordNotFound)
		}
	}

	p.this().Refresh()

	return nil
}
}}