// createControls.tmpl
{{

func (p *{{= panelName }}) CreateControls(ctx context.Context) {
    p.AddControls(ctx,
{{for _,col := range t.Columns }}
{{if col.Generator != nil && !col.IsPk}}
        p.this().{{= col.GoName }}Creator(),
{{if}}
{{for}}
    )
}

}}

{{g


for _,col := range t.Columns {
    if col.Generator != nil && !col.IsPk {
        creatorString := col.Generator.GenerateCreator(&col)
        if creatorString != "" {
            creatorString = generator.WrapFormField(col.DefaultLabel, col.ControlID, creatorString)

{{
func (p *{{= panelName }}) {{= col.GoName }}Creator() {{= generator.DefaultFormFieldCreator }} {
	return {{= creatorString }}
}
}}
        }
    }
}

}}