//detailTpl.tmpl

// The master template for the Detail panel template file. We are generating a got template.

var panelName = t.GoName + "DetailPanel"

{{# Below we are switching back and forth between putting got code in the template, and using got code to create the template }}
{{begin *gotCode*}}
{{< package }}panel{{end package}}
{{< imports }}
{{end imports}}
{{< control }}{{end *gotCode*}}{{= panelName}}{{begin *gotCode2*}}{{end control}}

{{define template }}
<h1>{{end *gotCode2*}}{{= t.LiteralName }}{{begin *gotCode3*}}</h1>

{{end *gotCode3*}}

{{g
    for _,col := range t.Columns {
        cd := t.ControlDescription(col)
        if cd == nil {
            continue
        }
        var name string
        if col.IsReference() || col.IsType() {
            name = col.ReferenceFunction()
        } else {
            name = col.GoName
        }
{{begin *drawCode*}}
<div>{{end *drawCode*}}{{= cd.DefaultLabel }}{{begin *drawCode2*}}: </div>
<div>{{!v ctrl.{{end *drawCode2*}}{{= t.GoName }}{{begin *drawCode3*}}.{{end *drawCode3*}}{{= name }}{{begin *drawCode4*}}() }}</div>
{{end *drawCode4*}}
    }
}}

{{begin *gotCode3*}}
{{end template}}

{{renderControlTemplate}}
{{end *gotCode3*}}
