//editPanelBase.tmpl

// The master template for the EditPanelBase classes

var panelName = t.GoName + "EditPanelBase"

{{: editBaseImport.tmpl }}

{{: editBaseConst.tmpl }}

{{: editBaseStruct.tmpl }}

{{: editBaseCreateControls.tmpl }}

{{: editBaseLoad.tmpl }}

{{: editBaseValidate.tmpl }}

{{: editBaseConnector.tmpl }}

{{: editBaseDataProvider.tmpl }}

{{: editBaseInclude.tmpl }}
