//editTpl.tmpl

// The master template for the Edit panel template file. We are generating a got template.

var panelName = t.GoName + "EditPanel"

{{# Below we are switching back and forth between putting got code in the template, and using got code to create the template }}
{{begin *gotCode*}}
{{define imports}}
{{end imports}}
{{define control}}{{end *gotCode*}}{{= panelName}}{{begin *gotCode2*}}{{end control}}

{{define template }}

{{end *gotCode2*}}

{{g
for _,col := range t.Columns {
    cd := t.ControlDescription(col)
    if cd == nil {continue}
    if col.IsPk {continue}
    if cd.Generator != nil {
{{begin *drawCode*}}{{drawChild -{{end *drawCode*}}{{= cd.ControlID }}{{begin *drawCode2*}}-ff }}
{{end *drawCode2*}}
    }
}
}}

{{begin *gotCode3*}}
{{end template}}

{{renderControlTemplate}}
{{end *gotCode3*}}
