//editPanelBase.tmpl

// The master template for the EditPanelBase classes

var panelName = t.GoName + "EditPanelBase"

{{: editBaseImport.tmpl }}

{{: editBaseConst.tmpl }}

{{: editBaseStruct.tmpl }}

{{: editBaseCreateControls.tmpl }}
{{: editBaseConnector.tmpl }}
{{: editBaseStaticControls.tmpl }}

{{: editBaseLoad.tmpl }}
{{: editBaseRefresh.tmpl }}
{{: editBaseReload.tmpl }}
{{: editBaseUpdate.tmpl }}
{{: editBaseSave.tmpl }}
{{: editBaseDelete.tmpl }}
{{: editBaseData.tmpl }}
{{: editBaseIsModifying.tmpl }}

{{: editBaseValidate.tmpl }}

{{: editBaseDataProvider.tmpl }}

{{: editBaseSerialize.tmpl }}

{{: editBaseInclude.tmpl }}
