// editBaseSerialize.tmpl

{{
// Serialize encodes the control to save it during the page serialization process.
func (p *{{= panelName }}) Serialize(e page.Encoder) {
	p.Panel.Serialize(e)

    if p.{{= t.GoName }} == nil {
        if err := e.Encode(false); err != nil {
            panic(err)
        }
    } else {
        if err := e.Encode(true); err != nil {
            panic(err)
        }
        if err := e.Encode(p.{{= t.GoName }}); err != nil {
            panic(err)
        }
    }
}

// Deserialize decodes the panel and prepares it for use.
func (p *{{= panelName }}) Deserialize(dec page.Decoder) {
	p.Panel.Deserialize(dec)

    var isPtr bool
	if err := dec.Decode(&isPtr); err != nil {
		panic(err)
	}
	if isPtr {
        if err := dec.Decode(&p.{{= t.GoName }}); err != nil {
            panic(err)
        }
	}
	return
}

}}
