// listTpl.tmpl

// The master template for the List panel template file. We are generating a got template.

var panelName = t.GoName + "ListPanel"
var kebabPanelName = strings2.CamelToKebab(panelName)

{{# Below we are switching back and forth between putting got code in the template, and using got code to create the template }}
{{begin *strict*}}
{{define imports}}
{{end imports}}
{{define control}}{{end *strict*}}{{= panelName}}{{begin *strict*}}{{end control}}

{{define template }}

{{drawIf {{end *strict*}}{{= kebabPanelName}}{{begin *strict*}}-filter-panel }}
{{draw {{end *strict*}}{{= kebabPanelName}}{{begin *strict*}}-list }}
{{draw {{end *strict*}}{{= kebabPanelName}}{{begin *strict*}}-button-panel }}

{{end template}}

{{renderControlTemplate}}
{{end *strict*}}
