// listBase.tmpl

// The master template for the ListPanelBase classes

{{: listBaseVars.tmpl }}

{{: listBaseImport.tmpl }}

{{: listBaseStruct.tmpl }}

{{: listBaseCreateControls.tmpl }}
{{: listBaseColumnCreators.tmpl }}

{{: listBaseBindData.tmpl }}

{{: listBaseTableRowAttributes.tmpl }}

{{: listBaseLoad.tmpl }}

{{: listBaseInclude.tmpl }}