// listBaseTableRowAttributes.tmpl

{{

func (p *{{= panelName }}) TableRowAttributes(row int, data interface{}) html2.Attributes {
	return html2.NewAttributes().SetDataAttribute("value", {{if t.PrimaryKeyGoType() == "string"}}data.(*model.{{= t.GoName }}).PrimaryKey(){{else}}fmt.Sprint(data.(*model.{{= t.GoName }}).PrimaryKey()){{if}})
}

}}
