// listColumnCreators.tmpl

{{

// ColumnCreators returns just the column creators for the table
func (p *{{= panelName }}) ColumnCreators(_ context.Context) []table.ColumnCreator {
	creators := []table.ColumnCreator {
{{for _,col := range t.Columns }}
        column.NodeColumnCreator{
            ID: {{= lcPanelName }}{{= col.GoName }}ColID,
{{if col.IsReference() || col.IsEnum() }}
            Node: node.{{= t.GoName }}().{{= col.ReferenceFunction() }}(),
{{else}}
            Node: node.{{= t.GoName }}().{{= col.GoName }}(),
{{if}}
            Title: "{{if t.ControlDescription(col) != nil}}{{= t.ControlDescription(col).DefaultLabel }}{{else}}{{col.GoName}}{{if}}",
{{if col.IsDateOnly}}
            ColumnOptions: table.ColumnOptions{TimeFormat: config.DefaultDateFormat},
{{elseif col.IsTimeOnly}}
            ColumnOptions: table.ColumnOptions{TimeFormat: config.DefaultTimeFormat},
{{if}}
        },
{{for}}
    }
    if {{= t.LcGoName }}ListShowEditColumn {
        creators = append(creators, column.ButtonColumnCreator{
            Title: p.GT("Edit"),
        })
        p.On(column.ButtonColumnClick().Action(action.Do().ID({{= lcPanelName }}ButtonClick)))
    }


    return creators
}
}}
