// listBindData.tmpl

{{

// BindData determines what records will be displayed in the lister.
// Override to change what records get displayed.
func (p *{{= panelName }}) BindData(ctx context.Context, s {{= ctrlPkg }}.DataManagerI) {
    t := table.GetPagedTable(p, p.ID() + "-list")
	if t.HasDataPagers() {
		t.SetTotalItems(p.BuildQuery(ctx).Count(false))
	}

	builder := p.BuildQuery(ctx)

	// Since we are asking the database to do the sort, we have to make a slice of nodes
	sortNodes := column.MakeNodeSlice(t.SortColumns())

	d := builder.Limit(t.SqlLimits()).
		OrderBy(sortNodes...).
		Load()

	s.SetData(d)
}

func (p *{{= panelName }}) BuildQuery(ctx context.Context) *model.{{= t.GoPlural }}Builder {
	q := model.Query{{= t.GoPlural }}(ctx)
	if {{= t.LcGoName }}ListShowFilterBar {
        filterText := textbox.GetTextboxI(p, p.ID() + "-filterText").Text()

	    q = q.Where(op.Or(
{{for _,col := range t.Columns }}
    		op.StartsWith(node.{{= t.GoName }}().{{= col.GoName }}(), filterText),
{{for}}
    	))
    }
	return q
}

}}
