// listBaseColumnCreators.tmpl

{{

// createControls creates the controls in the panel.
// Override this to change what controls get created.
func (p *{{= panelName }}) ColumnCreators(_ context.Context) []control.ColumnCreator {
	return []{{= ctrlPkg }}.ColumnCreator {
{{for _,col := range t.Columns }}
        column.NodeColumnCreator{
            Node: node.{{= t.GoName }}().{{= col.GoName }}(),
            Title: "{{= t.ControlDescription(col).DefaultLabel }}",
        {{if col.IsDateOnly}}
            ColumnOptions: {{= ctrlPkg }}.ColumnOptions{TimeFormat: config.DefaultDateFormat},
        {{else if col.IsTimeOnly}}
            ColumnOptions: {{= ctrlPkg }}.ColumnOptions{TimeFormat: config.DefaultTimeFormat},
        {{if}}
        },
{{for}}
    }
}
}}
