// listVars.tmpl

var objectType = "List"
var panelName = t.GoName + "ListPanel"
var lcPanelName = t.LcGoName + objectType + "Panel"
var editFormPath = path.Join("/goradd/form/",dd.DbKey,t.GoName + "Edit")
var detailFormPath = path.Join("/goradd/form/",dd.DbKey,t.GoName + "Detail")

