// listBaseVars.tmpl

var objectType = "List" // Eventually we might make it possible to generate multiple object types
var panelName = t.GoName + "ListPanelBase"
var lcPanelName = t.LcGoName + objectType + "Panel"

