{{
// Load reads a new record from the database and loads the edit controls with the information found. pk is the primary key
// of the record.
func (p *{{= panelName }}) Load(ctx context.Context, pk string) error {

    var obj *model.{{= t.GoName }}

	if pk == "" {
		obj = model.New{{= t.GoName }}(ctx)
	} else {
		obj = model.Load{{= t.GoName }}(ctx, pk)

		if obj == nil {
			d := control.Alert(p.ParentForm(), p.ParentForm().ΩT("The record was not found. Perhaps it was recently deleted by someone else."), "OK")
			d.SetTitle(p.ParentForm().ΩT("Error"))
			return page.NewFrameworkError(page.FrameworkErrRecordNotFound)
		}
	}

	p.Connector.Load(ctx, obj)

	return nil
}

}}