/**
 * Default styles for checkbox and radio lists
 */

.gr-cbl { // the frame of the list
  outline: 1px solid black;
  margin: 5px;
  display: inline-block;
}
.gr-cbl-scroller {
  overflow-x: scroll;
  height: 200px; // default height. Change if needed.
  padding-right: 10px; // make room for popup scrollbars
}
.gr-cbl-table {
  display:table;
}
.gr-cbl-column {
  display:table-column;
}
.gr-cbl-row {
  display: table-row;
}
.gr-cbl-cell {
  display:table-cell;
  padding-left: 3px;
  padding-right: 8px;
}
.gr-cbl-heading {
  font-weight: bold;
  color:gray;
}

.gr-table {
  empty-cells: show;
  border-collapse: collapse;
}
