/**
 * Dialog styling
 */

@import "./theme/_colors.scss";

#gr-dlg-overlay {
  position: fixed; /* Sit on top of the override content */
  width: 100%; /* Full width (cover the whole override) */
  height: 100%; /* Full height (cover the whole override) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

div[data-grctl=dialog] {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border:solid black 2px;
  border-radius: 4px;
  min-width: 200px;
  display:flex;
  flex-direction: column;

  .gr-dialog-title {
    order:1;
    height:24px;
    padding:5px;
    white-space: nowrap;
    background-color: $dialog-color;
    .gr-dialog-close {
      float: right;
      margin-right: 5px;
    }

  }

  .gr-dlg-content {
    order:2;
    height:100%;
    padding:10px;
  }

  .gr-dialog-buttons {
    order:3;
    height:24px;
    padding:5px;
    background-color: $dialog-color;
    border-top: solid black 1px;
    button{
      float:right;
    }
  }
}
