
[data-grctl=itemlistpnl] {
  display:flex;
  height:100%;

  flex-direction:column;
    .filter {
        padding: 5px;
    }
    .scroller {
      flex:1;
      display:flex;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .buttons {
      padding-left: 5px;
        padding-top:5px;
        button {
            margin:3px;
        }
    }
}

/*    .filter {
        padding: 5px;
        height: 50px;
    }
    .scroller {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .buttons {
        height:50px;
        padding-left: 5px;
        padding-top:5px;
        button {
            margin:3px;
        }
    }
*/
