//const.tmpl
{{

const  (
}}

for _,col := range t.Columns {
	v := col.DefaultValueAsConstant()
	if v == "" {
		continue // no way to represent this as a constant
	}
{{
	{{= col.DefaultConstantName(t) }} = {{= v }}
}}

}

{{ )

}}


