{{

func (o *{{privateName}}Base) Delete(ctx context.Context) {
	if !o._restored {
		panic ("Cannot delete a record that has no primary key value.")
	}
	db := db.GetDatabase("{{t.DbKey}}")
	db.Delete(ctx, "{{t.DbName}}", "{{= t.PrimaryKeyColumn.DbName }}", o.{{= t.PrimaryKeyColumn.VarName }})
}

}}