dbKey := t.DbKey
tableName := t.DbName

for _,col := range t.Columns {
{{
// {{= col.GoName }} represents the {{= col.DbName }} column in the database.
func (n *{{privateName}}Node) {{= col.GoName }}() *query.ColumnNode {
	cn := query.NewColumnNode (
		"{{= dbKey }}",
		"{{= tableName }}",
		"{{= col.DbName }}",
		"{{= col.GoName }}",
		query.{{= col.ColumnType.String() }},
		{{if col.IsPk}}true{{else}}false{{if}},
	)
	query.SetParentNode(cn, n)
	return cn
}

}}

	if col.ForeignKey != nil {
		isType := dd.IsTypeTable(col.ForeignKey.ReferencedTable)
		var objName string

		if isType {
			objName = dd.TypeTable(col.ForeignKey.ReferencedTable).GoName
		} else {
			objName = dd.Table(col.ForeignKey.ReferencedTable).GoName
		}
{{

// {{= col.ForeignKey.GoName }} represents the link to the {{= col.ForeignKey.GoName }} object.
func (n *{{privateName}}Node) {{= col.ForeignKey.GoName }}() *{{= strings2.LcFirst(objName) }}Node {
	cn := &{{= strings2.LcFirst(objName) }}Node {
		query.NewReferenceNode (
			"{{= dbKey }}",
			"{{= tableName }}",
			"{{= col.DbName }}",
			"{{= col.GoName }}",
			"{{= col.ForeignKey.GoName }}",
			"{{= col.ForeignKey.ReferencedTable }}",
			"{{= col.ForeignKey.ReferencedColumn }}",
			{{b isType }},
			query.{{= col.ColumnType.String() }},
		),
	}
	query.SetParentNode(cn, n)
	return cn
}

}}

	}
}


for _,ref := range t.ManyManyReferences {

	if ref.IsTypeAssociation {
		assnTable := dd.TypeTable(ref.AssociatedTableName)

{{

// {{= ref.GoPlural }} represents the many-to-many relationship formed by the {{= ref.AssnTableName }} table.
func (n *{{privateName}}Node) {{= ref.GoPlural }}() *{{= strings2.LcFirst(assnTable.GoName) }}Node  {
	cn := &{{= strings2.LcFirst(assnTable.GoName) }}Node {
		query.NewManyManyNode (
			"{{= t.DbKey }}",
			"{{= ref.AssnTableName }}",
			"{{= ref.AssnColumnName }}",
			"{{= ref.GoPlural }}",
			"{{= ref.AssociatedTableName }}",
			"{{= ref.AssociatedColumnName }}",
			true,
		),
	}
	query.SetParentNode(cn, n)
	return cn

}

}}
	} else {

		assnTable := dd.Table(ref.AssociatedTableName)
{{
// {{= ref.GoPlural }} represents the many-to-many relationship formed by the {{= ref.AssnTableName }} table.
func (n *{{privateName}}Node) {{= ref.GoPlural }}() *{{= strings2.LcFirst(assnTable.GoName) }}Node  {
	cn := &{{= strings2.LcFirst(assnTable.GoName) }}Node {
		query.NewManyManyNode (
			"{{= t.DbKey }}",
			"{{= ref.AssnTableName }}",
			"{{= ref.AssnColumnName }}",
			"{{= ref.GoPlural }}",
			"{{= ref.AssociatedTableName }}",
			"{{= ref.AssociatedColumnName }}",
			false,
		),
	}
	query.SetParentNode(cn, n)
	return cn

}

}}
	}
}

for _,ref2 := range t.ReverseReferences {
	assnTable := ref2.AssociatedTable

	if ref2.IsUnique() {

{{
// {{= ref2.GoName }} represents the one-to-one relationship formed by the reverse reference from the
// {{= ref2.DbColumn }} column in the {{= t.DbName }} table.
func (n *{{privateName}}Node) {{= ref2.GoName }}() *{{= strings2.LcFirst(assnTable.GoName) }}Node  {

	cn := &{{= strings2.LcFirst(assnTable.GoName) }}Node {
		query.NewReverseReferenceNode (
			"{{= t.DbKey }}",
			"{{= t.DbName }}",
			"{{= t.PrimaryKeyColumn().DbName }}",
			"{{= ref2.DbColumn }}",
			"{{= ref2.GoName }}",
			"{{= ref2.AssociatedTableName() }}",
			"{{= ref2.AssociatedColumn.DbName }}",
			false,
		),
	}
	query.SetParentNode(cn, n)
	return cn

}

}}

	} else {
{{

// {{= ref2.GoPlural }} represents the many-to-one relationship formed by the reverse reference from the
// {{= ref2.DbColumn }} column in the {{= t.DbName }} table.
func (n *{{privateName}}Node) {{= ref2.GoPlural }}() *{{= strings2.LcFirst(assnTable.GoName) }}Node  {

	cn := &{{= strings2.LcFirst(assnTable.GoName) }}Node {
		query.NewReverseReferenceNode (
			"{{= t.DbKey }}",
			"{{= t.DbName }}",
			"{{= t.PrimaryKeyColumn().DbName }}",
			"{{= ref2.DbColumn }}",
			"{{= ref2.GoPlural }}",
			"{{= ref2.AssociatedTableName() }}",
			"{{= ref2.AssociatedColumn.DbName }}",
			true,
		),
	}
	query.SetParentNode(cn, n)
	return cn

}

}}

	}
}