// A place to put your custom functions in each modelBase.
// Any code you put here will be added to the end of every *model*.base.go file.

{{
// Custom functions. See goradd/codegen/templates/orm/modelBase.
}}
