// save.tmpl
{{

// Update will update the related model.{{= t.GoName}} object with data from the controls.
func (c *{{= privateName }}Base) Update() {
{{for _,col := range t.Columns }}

{{g
    var sUpdate string
    if col.Generator != nil {
        sUpdate = col.Generator.GeneratePut(col.ControlName, t.GoName, col.ColumnDescription)
    }
}}
{{if sUpdate != ""}}
    if c.{{col.ControlName}} != nil {
        {{= sUpdate }}
    }
{{if}}
{{for}}
}

// Save takes the data from the controls and saves it in the database.
func (c *{{= privateName }}Base) Save(ctx context.Context) {
    c.Update()
    c.{{= t.GoName}}.Save(ctx)
}

}}
