// detailFormReturn.tmpl

{{

// returnToPrevious returns to the previous form.
func (f *{{= formName }}) returnToPrevious(ctx context.Context) {
    session.Remove(ctx, "{{= t.LcGoName }}DetailID")
	f.PopLocation(ctx, "{{= listFormPath }}")
}

}}
