//detailFormTpl.tmpl

// The master template for the EditForm template file. In other words, we are generating a got template.

var key string = strings.Title(dd.DbKey)
var formName = key + t.GoName + "DetailForm"

{{
{{begin strict}}
{{< imports }}{{end}}
{{< headTags }}{{end}}
{{< title }}{{end}}
{{< bodyAttributes }}{{end}}
{{< form }}{{strict}}{{= formName}}{{begin strict}}{{end}}
{{define template }}
{{draw {{strict}}{{= t.DefaultHtmlID()}}{{begin strict}}-detail-panel }}
{{draw ok-button }}
{{end}}

{{renderFormTemplate}}
{{strict}}
}}