// detailFormAction.tmpl

{{

// Action is called by the framework to execute any Server or Ajax actions you have assigned to controls
// and directed here.
func (f *{{= formName }}) Action(ctx context.Context, a action.Params) {
	switch a.ID {
	case {{= title }}OkAction:
        f.returnToPrevious(ctx)
    default:
        f.FormBase.Action(ctx, a)
    }
}

}}
