//detailForm.tmpl

// The master template for the EditForm classes

// Variables used below
var title  = t.GoName
var formName = title + "DetailForm"
var tableKebab = strings2.CamelToKebab(t.GoName)
var listFormPath = path.Join("/goradd/form/",dd.DbKey,tableKebab + "-list")

{{: detailFormImport.tmpl }}
{{: detailFormConst.tmpl }}
{{: detailFormStruct.tmpl }}
{{: detailFormRun.tmpl }}
{{: detailFormAddFiles.tmpl }}
{{: detailFormCreateControls.tmpl }}
{{: detailFormLoadControls.tmpl }}
{{: detailFormAction.tmpl }}
{{: detailFormReturn.tmpl }}
{{: detailFormInclude.tmpl }}
{{: detailFormInit.tmpl }}

{{: detailFormTest.tmpl }}


