// detailFormInit.tmpl

{{

// init functions are called once when the web server first starts up.
func init() {
	page.RegisterForm({{= title }}DetailFormPath,  &{{= formName }}{}, {{= title }}DetailFormID)
}

}}
