// detailFormAction.tmpl

{{

// DoAction is called by the framework to execute any Server or Ajax actions you have assigned to controls
// and directed here.
func (f *{{= formName }}) DoAction(ctx context.Context, a action.Params) {
	switch a.ControlId {
	case {{= title }}OkButtonID:
        f.returnToPrevious(ctx)
    default:
        f.FormBase.DoAction(ctx, a)
    }
}

}}
