//detailForm.tmpl

// The master template for the EditForm classes

// Variables used below
var dbkey = strings.Title(dd.DbKey)
var title  = dbkey + t.GoName
var formName = title + "DetailForm"
var formPath = path.Join("/goradd/form/",dd.DbKey,t.GoName + "Detail")
var listFormPath = path.Join("/goradd/form/",dd.DbKey,t.GoName + "List")

{{: detailFormImport.tmpl }}
{{: detailFormConst.tmpl }}
{{: detailFormStruct.tmpl }}
{{: detailFormInit.tmpl }}
{{: detailFormRun.tmpl }}
{{: detailFormAddFiles.tmpl }}
{{: detailFormCreateControls.tmpl }}
{{: detailFormLoadControls.tmpl }}
{{: detailFormAction.tmpl }}
{{: detailFormReturn.tmpl }}
{{: detailFormInclude.tmpl }}
{{: detailFormTest.tmpl }}


