// detailFormRun.tmpl

{{

// Run is called by the framework before the page is operated on, either through Ajax or Server calls.
// This is a good place to do anything that needs to happen before doing any of your actions or drawing,
// like checking if the user is authorized to access the page.
func (f *{{= formName }})Run(ctx context.Context) (err error) {
    if !session.Has(ctx, "{{= t.LcGoName }}DetailID") {
        // Attempting to go the the detail panel without first going to the list panel
        return page.NewFrameworkError(page.FrameworkErrNotAuthorized)
    }

/* If you are authorizing the current user, do that here
    if !authorized() {
    //     one option is to just fail with an error page
	//	   return page.NewFrameworkError(page.FrameworkErrNotAuthorized)
	//     another is to automatically redirect to a new location
	//     page.Redirect(config.MakeLocalPath("/login.g"))
    }
*/

	return
}

}}