//detailForm.tmpl

// The master template for the EditForm classes

// Variables used below
var title  = t.GoName
var formName = title + "DetailForm"

{{: detailFormImport.tmpl }}
{{: detailFormConst.tmpl }}
{{: detailFormStruct.tmpl }}
{{: detailFormInitLifecycle.tmpl }}
{{: detailFormRun.tmpl }}
{{: detailFormAddFiles.tmpl }}
{{: detailFormCreateControls.tmpl }}
{{: detailFormLoadControls.tmpl }}
{{: detailFormAction.tmpl }}
{{: detailFormReturn.tmpl }}
{{: detailFormInclude.tmpl }}
{{: detailFormInit.tmpl }}

{{: detailFormTest.tmpl }}


