// detailFormCreateControls.tmpl

{{

func (f *{{= formName }}) CreateControls(ctx context.Context) {
    f.FormBase.CreateControls(ctx) // Add site-wide controls
    f.AddControls(ctx,
        {{= t.GoName }}DetailPanelCreator {
            ID: {{= title }}DetailPanelID,
        },
        {{= codegen.ObjectType(generator.DefaultButtonType) }}Creator {
            ID: {{= title }}OkButtonID,
            Text: f.GT("OK"),
            OnSubmit: action.Ajax(f.ID(), {{= title }}OkAction),
        },
    )
}

}}