//editForm.tmpl

// The master template for the EditForm classes

// The below variables are used by the EditForm templates

var title  = t.GoName
var formName = title + "EditForm"
var listFormPath = path.Join("/goradd/form/",dd.DbKey,t.DefaultHtmlID() + "-list")

{{: editFormImport.tmpl }}
{{: editFormConst.tmpl }}
{{: editFormStruct.tmpl }}
{{: editFormInitLifecycle.tmpl }}
{{: editFormRun.tmpl }}
{{: editFormAddFiles.tmpl }}
{{: editFormCreateControls.tmpl }}
{{: editFormLoadControls.tmpl }}
{{: editFormAction.tmpl }}
{{: editFormReturn.tmpl }}
{{: editFormInclude.tmpl }}
{{: editFormInit.tmpl }}

{{: editFormTest.tmpl }}


