// editFormTest.tmpl

{{

func init() {
    if !config.Release {
	    browsertest.RegisterTestFunction("{{= formName }} Tests", test{{= formName }})
	}
}

func test{{= formName }}(t *browsertest.TestForm)  {
	t.LoadUrl({{= title }}EditFormRoute)

	v := t.HtmlElementInfo("#err-title", "innerHTML")
	t.AssertEqual("", v)
	t.Done("Complete")
}


}}