// editFormLoadControls.tmpl

{{

// LoadControls is called by the framework after creating the form.
// It is the place to load up the form controls with data after the form has been created.
func (f *{{= formName }}) LoadControls(ctx context.Context) {
    f.FormBase.LoadControls(ctx) // Load site-wide controls
    id := session.GetString(ctx, {{= t.GoName }}EditSessionID)

    if id != "" {
 	    err := Get{{= t.GoName }}EditPanel(f, {{= title }}EditPanelID).Load(ctx, id)
 	    if err == nil {
            f.Page().GetControl({{= title }}DeleteButtonID).SetVisible(true)
            f.Page().SetTitle(f.GT("Edit"))
            return
 	    }
 	    // drop through on failure
    }
    _ = Get{{= t.GoName }}EditPanel(f, {{= title }}EditPanelID).Load(ctx,"")
    f.Page().GetControl({{= title }}DeleteButtonID).SetVisible(false)
    f.Page().SetTitle(f.GT("Create"))
}


}}