// editFormConst.tmpl

{{
// {{= title }}EditFormPath specifies the URL that will access this form.
const {{= title }}EditFormPath = "/{{= dd.DbKey }}/{{= tableKebab }}-edit"
// {{= title }}EditFormID is the html id to use in the html form object.
const {{= title }}EditFormID = "{{= tableKebab }}-edit-form"
const {{= title }}Singular = "{{= t.LiteralName }}"
const {{= title }}Plural = "{{= t.LiteralPlural }}"

const {{= title }}EditPanelID = "{{= t.DefaultHtmlID()}}-edit-panel"
const {{= title }}SaveButtonID = "save-button"
const {{= title }}CancelButtonID = "cancel-button"
const {{= title }}DeleteButtonID = "delete-button"

const (
    {{= title }}SaveAction = iota + 1
    {{= title }}CancelAction
    {{= title }}DeleteAction
)

}}