// editFormReturn.tmpl

{{

// returnToPrevious returns to the previous form.
func (f *{{= formName }}) returnToPrevious(ctx context.Context) {
    session.Remove(ctx, "{{= t.LcGoName }}EditID")
	f.PopLocation(ctx, {{= title }}ListFormRoute)
}

}}