// editFormConst.tmpl

{{
// {{= title }}EditFormRoute specifies the URL that will access this form.
const {{= title }}EditFormRoute = "/goradd/forms/{{= dd.DbKey }}/{{= t.DefaultHtmlID() }}-edit"
// {{= title }}EditFormID is the id of the html form object.
const {{= title }}EditFormID = "{{= t.DefaultHtmlID() }}-edit-form"

// {{= title }}EditPanelID is the id of the html panel object that contains the content of the edit form.
const {{= title }}EditPanelID = "{{= t.DefaultHtmlID()}}-edit-panel"

// {{= title }}EditSessionID is the session id that saves the id passed between the list form and the edit form.
// Set this id in the session before going to this form.
const {{= title }}EditSessionID = "{{= title }}EditSessionID"

// These constants are the ids of the buttons that appear on the bottom of the edit panel
// doc: type={{= title }}EditForm
const (
    {{= title }}SaveButtonID = "save-button"
    {{= title }}CancelButtonID = "cancel-button"
    {{= title }}DeleteButtonID = "delete-button"
)

}}