//editForm.tmpl

// The master template for the EditForm classes

// Variables used below
var title  = t.GoName
var formName = title + "EditForm"
var tableKebab = strings2.SnakeToKebab(t.DbName)
var listFormPath = path.Join("/goradd/form/",dd.DbKey,tableKebab + "-list")

{{: editFormImport.tmpl }}
{{: editFormConst.tmpl }}
{{: editFormStruct.tmpl }}
{{: editFormRun.tmpl }}
{{: editFormAddFiles.tmpl }}
{{: editFormCreateControls.tmpl }}
{{: editFormLoadControls.tmpl }}
{{: editFormAction.tmpl }}
{{: editFormReturn.tmpl }}
{{: editFormInclude.tmpl }}
{{: editFormInit.tmpl }}

{{: editFormTest.tmpl }}


