{{
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
}}


for _, db := range db.GetDatabases() {
    dd := db.Describe()
{{
<h1>{{= dd.DbKey }}</h1>
<ul>
}}
    for _, t := range dd.Tables {
        var editLoc = path.Join("/goradd/form/", dd.DbKey, t.GoName + "Edit")
        var listLoc = path.Join("/goradd/form/", dd.DbKey, t.GoName + "List")
{{
<li>
{{= t.GoName }}: <a href="{{= listLoc }}">List</a> | <a href="{{= editLoc }}">New</a>
</li>
}}
    }
{{
    </ul>
}}
}

{{
</body>
</html>
}}