// listFormCreate.tmpl

{{

func (f *{{= formName }}) createControls(ctx context.Context) {
	f.AddControls(ctx,
		panel.{{= t.GoName }}ListPanelCreator{
			ID:             "list-panel",
		},
	)
}

}}
