
// AddRelatedFiles is called by the framework to add javascript, css, and other files that the form
// will rely on.
func (f *{{= formName }}) AddRelatedFiles() {
    f.FormBase.AddRelatedFiles()

    // Add additional javascript, css and other files here
}

