// listFormConst.tmpl

{{

// {{= title }}ListFormPath specifies the URL that will access this form.
const {{= title }}ListFormPath = "/goradd/forms/{{= dd.DbKey }}/{{= tableKebab }}-list"
// {{= title }}ListFormID is the html id to use in the html form object.
const {{= title }}ListFormID = "{{= tableKebab }}-list-form"

// These are labels used to describe the objects that are being listed and edited.
const (
    {{= title }}Singular = "{{= t.LiteralName }}"
    {{= title }}Plural = "{{= t.LiteralPlural }}"
)

}}