// listFormCreate.tmpl

{{

// CreateControls is called by the framework after the form is created. It is the place to create the controls
// that will be displayed in the form.
func (f *{{= formName }}) CreateControls(ctx context.Context) {
    f.FormBase.CreateControls(ctx) // Add site-wide controls
	f.AddControls(ctx,
		{{= t.GoName }}ListPanelCreator{
			ID:             "list-panel",
		},
	)
}

}}
