//listForm.tmpl

// The master template for the ListForm classes

// Variables used below
var title  = t.GoName
var tableKebab = strings2.CamelToKebab(t.GoName)
var formName = title + "ListForm"

{{: listFormImport.tmpl }}
{{: listFormConst.tmpl }}
{{: listFormStruct.tmpl }}
{{: listFormInitLifecycle.tmpl }}
{{: listFormRun.tmpl }}

{{: listFormAddFiles.tmpl }}
{{: listFormCreateControls.tmpl }}
{{: listFormLoad.tmpl }}
{{: listFormInclude.tmpl }}
{{: listFormInit.tmpl }}




