// listFormConst.tmpl

{{

// {{= title }}ListPath specifies the URL that will access this form.
const {{= title }}ListPath = "{{= formPath }}"
// {{= title }}ListID is the html id to use in the html form object.
const {{= title }}ListID = "{{= formName }}"

}}