// listFormInit.tmpl

{{

func (f *{{= formName }})Init(ctx context.Context, id string) {
    f.FormBase.Init(ctx, id)

	f.AddRelatedFiles()
	f.createControls(ctx)
}

func init() {
	page.RegisterForm({{= title }}ListPath,  &{{= formName }}{}, {{= title }}ListID)
}

}}
