// listFormConst.tmpl

{{

// {{= title }}ListFormPath specifies the URL that will access this form.
const {{= title }}ListFormPath = "/{{= dd.DbKey }}/{{= tableKebab }}-list"
// {{= title }}ListFormID is the html id to use in the html form object.
const {{= title }}ListFormID = "{{= tableKebab }}-list-form"

const {{= title }}Singular = "{{= t.LiteralName }}"
const {{= title }}Plural = "{{= t.LiteralPlural }}"

}}