// createControls.tmpl
{{

func (p *{{= panelName }}) CreateControls() {
{{for _,col := range t.Columns }}
{{if col.Generator != nil && !col.IsPk}}
    p.{{= col.ControlName }} = p.Connector.New{{= col.ControlName }}("{{= col.ControlID }}")
{{if}}
{{for}}
}

}}


