//edit.tmpl

// The master template for the EditPanel classes

var panelName = t.GoName + "EditPanel"

{{

package panel

import(
	"github.com/spekary/goradd/page"
	"github.com/spekary/goradd/page/control"
	"context"
	"goradd-project/gen/{{dd.DbKey}}/connector"
	"goradd-project/gen/{{dd.DbKey}}/model"
)

type {{= panelName }} struct {
	{{= panelName }}Base
}

func New{{= panelName }}(parent page.ControlI, id string) *{{= panelName}} {
    p := new({{= panelName }})
	p.Init(p, parent, id)
	return p
}

func (p *{{= panelName }}) Init(self page.ControlI, parent page.ControlI, id string) {
	p.{{= panelName }}Base.Init(self, parent, id)
	p.CreateControls()
}

/* Override and call base class, or completely replace as you need
// CreateControls calls the connector to create specific controls as needed, and possibly creates
// additional controls that are not managed by the connector
func (p *{{= panelName }}) CreateControls() {
    p.{{= panelName }}Base.CreateControls()
}
*/

/* Override and call base class, or completely replace as you need
// Load loads up the edit panel with data from the database. pk is the primary key of a model.{{= t.GoName }}
// database record
func (p *{{= panelName }}) Load(ctx context.Context, pk string) error {
}
*/

/* Override and call base class, or completely replace as you need
// Validate validates the controls in the panel
func (p *{{= panelName }}) Validate(ctx context.Context) bool {
	isValid := p.{{= panelName }}Base.Validate(ctx)

	// add other validations here
    return isValid
}
*/

/* Override and call base class, or completely replace as you need
// Refresh loads the controls with data from the cached model.{{= t.GoName }} object.
func (p *{{= panelName }}) Refresh() {
    p.Connector.Refresh()
}
*/

/* Override and call base class, or completely replace as you need
// Reload loads the controls with data found in the database, over-writing any changes made to the internal data object.
func (p *{{= panelName }}) Reload(ctx context.Context) {
    p.Load(p.{{= t.GoName }}.PrimaryKey())
}
*/

/* Override and call base class, or completely replace as you need
// Save writes out the data that is currently in the controls
func (p *{{= panelName }}) Save(ctx context.Context) {
    p.Connector.Save(ctx)
}
*/

/* Override and call base class, or completely replace as you need
// Delete deletes the object currently being edited
func (p *{{= panelName }}) Delete(ctx context.Context) {
    p.Connector.Delete(ctx)
}
*/

}}